body {
    --navbarFontSize: 1.25rem;
    --navbarLineHeight: calc(var(--navbarFontSize) * 1.5);
    position: relative;
    top: calc(1.5 * 1.25rem + 0.6250rem + 3rem);
}

#hero {
    position: relative;
    height: calc(100vh - 2*(1.5 * 1.25rem + 0.6250rem + 3rem));
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
}

#hero-content {
    position: absolute;
    bottom: 0.3125rem;
    width: 75%;
    background-color: ghostwhite;
    opacity: 0.8;
    padding: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    border-radius: 1rem;
}

.letterbox {
    border: 1px solid black;
    margin: 0.3125rem;
    padding: 0.3125rem 0.6250rem 0.3125rem 0.6250rem;
}