body {
    position: relative;
    background-color: black;
}

:root {
    --lineHeight: calc(1.25rem * 1.5);
    --navbarBrand: calc(0.3125rem * 2);
    --navbar: calc(2 * 0.5rem);
    --navHeight: calc(var(--lineHeight) + var(--navbarBrand) + var(--navbar));
}

main {
    /*
     * Need to calculate the height of the nav-bar. Since the .letterbox's
     * in the nav bar are <span> element (inline display not block), their
     * padding/border/margin does not contribute to the height of the nav.
     * Instead, the line-height is used to establish content-height of the
     * nav bar. Therefore, the total height of the navbar is:
     * [line height] + [.navbar-brand padding, border, margin] + [navbar padding...]
     */
    top: var(--navHeight);
    height: calc(100vh - var(--navHeight));
    width: 100vw;
    position: fixed;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Hide scrollbar: IE10+ */
    scrollbar-width: none; /* Hide scrollbar: Firefox */

    /* Scroll snapping at each section */
    scroll-snap-type: y proximity;
}

main::-webkit-scrollbar { display: none; /* Hide scrollbar: Safari Chrome */ }

#hero {
    position: relative;
    height: calc(100vh - var(--navHeight));
    background-color: black;
    background-image: url('../img/glider.png');
    background-position: 75% center;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}

#hero-content {
    position: absolute;
    width: 50%;
    top: 3rem;
    left: 3rem;
    font-style: italic;
    color: ghostwhite;
    opacity: 0.8;
}

#invite-scroll {
    position: absolute;
    bottom: 5rem;
    right: 2rem;
    font-size: 3rem;
    color: ghost-white;
}

.letterbox {
    border: 1px solid black;
    margin: 0.3125rem;
    padding: 0.3125rem 0.6250rem 0.3125rem 0.6250rem;
}

section .row {
    scroll-snap-align: start;
    min-height: calc(100vh - var(--navHeight));
    position: relative;
    bottom: 3rem;
}